body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #000000 !important;
    color: #333;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  
  button {
    padding: .5rem !important ;
    font-size: .9rem !important;
    color: #fff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0.3rem !important;
     background-color: #ffffff10 !important;
    border: none;
    /* border-radius: 50% !important; */
    transition: background-color 0.3s ease;
    cursor: pointer;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-overflow: hidden;
    -webkit-text-overflow: ellipsis;
    -webkit-white-space: nowrap;
    height: 40px;
  }
  
  button:hover {
    background-color: #ffffff2a !important;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  a:hover {
    text-decoration: underline;
  }