.watch-movie-container.watch-movie-container-notLoading{
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s infinite linear;
}

.loadingimg{
  width: 100%;
  height: 100%;
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.randomcorner{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  img{
    height: 40px;
    width: 40px;
  }
}

.loading-title{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(197, 196, 196);
  
  
  z-index: 1000;
  h1{
    font-size: 15px;
    font-weight: 300;
  }
}

